.bubbleUI {
	width: 600px; /* width of BubbleUI container */
	height: 400px; /* height of BubbleUI container */
}

.childComponent {
	width: 100%; /* width expands to fit bubble */
	height: 100%; /* width expands to fit bubble */
	border-radius: 50%; /* rounded border forms a circle */
	display: flex;
	justify-content: center;
	align-items: center;
}